  .circular-progress-svg {
    transform: rotate(-90deg);
  }

  .circular-progress-circle {
    fill: transparent;
  }

  .circular-progress-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    /* Customize the text size */
    font-weight: bold;
    /* Customize the text style */
  }